body {
    background-color: rgb(176, 210, 232);
}

footer {
    background-color: rgb(15, 45, 15);
    color: darkseagreen;
    padding-top: 25px;
    padding-bottom: 25px;
}

#relevant_links {

    text-align: center;
}

#relevant_links a {
    background-color: rgb(130, 205, 207);
    border: 2px;
    border-width: 2px;
    border-color: black;
    margin: 20px;
}

.descriptive_text {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

#rubrik {
    text-align: center;
}

#descImage img {
        
}